<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>create a new todo</h1>
    <form type="text" name="todo-text" action="/todos" method="post">
      <label for="todo-text">Text</label>
      <input id="todo-text" type="text" name="todo-text" value="">
      <br> <br>
      <label for="">Completed</label>
      <br>
      <label for="todo-completed">True</label>
      <input type="radio" name="todo-completed" value="true">
      <label for="">False</label>
      <input type="radio" name="todo-completed" value="false">
      <input type="submit" name="" value="SuBmIt">
    </form>
  </body>
</html>
